*{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
.brand {
    font-weight: 700;
    font-size: 20px
}

.site-header {
    position: relative;
    background-color:#d0d6e0;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem
}

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #222;   
}
.dash{
    float: right;
    border-radius: 10%;
    height: 5%;
    width: 5%;
}
#form{
    width: 40%;
    height: 100%;
    margin: 5%;
    background-color:#ADD8E6;
    border-radius: 10px;
    padding: 5%;
}
h1{
    text-align: center;
}
#form button{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    margin-top:3%;
    margin-left: 85%;
    margin-bottom: -10%;
    cursor: pointer;
    font-size: 20px;
    width: 20%;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.input-group input{
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid black;
}
.input-group input:focus{
    outline: 0;
}
.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}